import(rJava)

export(build_bart_machine)
export(destroy_bart_machine)

export(set_bart_machine_num_cores)
export(bart_machine_num_cores)

export(dummify_data)
export(get_var_counts_over_chain)
export(get_var_props_over_chain)

export(cov_importance_test)

export(plot_y_vs_yhat)
export(check_bart_error_assumptions)
export(plot_tree_depths)
export(get_tree_depths)
export(plot_tree_num_nodes)
export(plot_mh_acceptance_reject)
export(hist_sigsqs)
export(get_sigsqs)
export(plot_sigsqs_convergence_diagnostics)
export(investigate_var_importance)
export(plot_convergence_diagnostics) #possibly do all four with a switch, thus making others private
export(interaction_investigator)
export(pd_plot) #make sure classification works
export(rmse_by_num_trees)

export(bart_predict_for_test_data)

export(build_bart_machine_cv)
export(k_fold_cv)

export(var_selection_by_permute_response_three_methods)
export(var_selection_by_permute_response_cv)

S3method(predict, bartMachine)
S3method(plot, bartMachine)
S3method(print, bartMachine)
S3method(summary, bartMachine)